*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(60, 56, 56);
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
.choice{
    height: 200px;
    width: 200px;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5rem;

}
img:hover{
    border: 2px solid rgb(41, 38, 38);
    opacity: 0.5;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;

    gap:5rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
    
}
#msg{
    background-color: rgb(66, 58, 58);
    color: white;
    justify-content: center;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin-top: 5rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10rem;
    
}